.toolbar {
  background-color: rgb(81, 81, 81);
  height: 7.5vh;
  bottom: 0;
  position: relative;
  grid-area: top;
  top: 0;
  margin-bottom: 2%;
}

.toolbar img {
  margin-bottom: 2vh;
  margin-left: 3vw;
  left: 0;
  max-height: 40%;
  width: auto;

  position: absolute;
  cursor: pointer;
}

.menu {
  color: white;
  margin-left: 1vw;
}

#menubar {
  flex: 1 1 auto;
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: 20vw;
}

#menubar a {
  text-decoration: none;
  margin-right: 3vh;
}

#menubar a:focus {
  color: #FF8C00;
}

#menubar a:hover {
  color: #FF8C00;
}
