<mat-toolbar class="toolbar">
  <img class="large" routerLink="/home" src="assets/images/logo.png" alt="Logo"/>
  <div id="menubar">
    <a class="menu" routerLink="/home">Home</a>
    <a class="menu" routerLink="/checkin">CheckIn</a>
    <a class="menu" routerLink="/profile">Profile</a>
    <a class="menu" routerLink="/admin">Admin</a>
    <a class="menu" routerLink="/coach">Coachees</a>
  </div>
</mat-toolbar>
