/* .input-field-fw {
  width: 100%;
}

.container{
  width: 50%;
  margin: auto;
  padding: 10px;

}

.image--cover {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 20px;


  object-fit: cover;
  object-position: center right;
}

.checkinbtn{
  background-color: rgb(8, 137, 189);
} */
