<div class="container">
  <div class="container-sides-profile">
  </div>
  <div class="container-profile">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{user?.firstName}} {{user?.lastName}}</mat-card-title>
        <mat-card-subtitle>{{user?.position}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="container">
          <div class="profile-content">
            <!-- TODO change this to currently logged in user profile pic url -->
            <img src="assets/images/profile-pic.jpg" class="profile-image" alt="profile-image">
            <h3>Birthdate: {{user?.birthDate | date}}</h3>
            <h3>Startdate at Axxes: {{user?.startDate | date}}</h3>
          </div>
          <div class="profile-content">
              <button mat-raised-button color="accent">Add Project</button>
            <mat-card *ngFor="let project of user.projects" class="custom-card">
              <mat-card-header>
                <mat-card-title>
                  {{project.companyName}}
                </mat-card-title>
                <mat-card-subtitle>
                  {{project.projectName}}
                </mat-card-subtitle>
              </mat-card-header>
            </mat-card>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="container-sides-profile">
  </div>
</div>
