<h2 mat-dialog-title>Add new Colleague Feedback</h2>
<form [formGroup]='addColleagueFeedbackForm' (ngSubmit)='submitFeedback()'>
  <mat-dialog-content>
    <mat-form-field class="input-modal">
      <mat-label>Colleague</mat-label>
      <mat-select  formControlName='userId'>
        <mat-option *ngFor="let user of userList" [value]="user.userID">
          {{user.firstName}} {{user.lastName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br />
    <!-- FIXME use currently logged in user -->
    <mat-form-field class="input-modal">
      <mat-label>TEMP Full name</mat-label>
      <input matInput placeholder="Full name" formControlName='author' />
    </mat-form-field>
    <br />

    <mat-form-field class="input-modal">
      <mat-label>Position at Axxes</mat-label>
      <input matInput placeholder="Position at Axxes" formControlName='position' />
    </mat-form-field>
    <br />

    <mat-form-field class="input-modal">
      <mat-label>Feedback</mat-label>
      <textarea matInput placeholder="Feedback" formControlName='colleagueFeedback'></textarea>
    </mat-form-field>
    <br />

  </mat-dialog-content>

  <mat-dialog-actions>
    <button class="mat-raised-button mat-warn" (click)="closeColleagueFeedback()" type="button">Close</button>
    <button style="margin-left: 10px" [disabled]="addColleagueFeedbackForm.invalid" class="mat-raised-button mat-accent"
      type="submit">Send</button>
  </mat-dialog-actions>
</form>