<div class="container">
    <div class="container-recent-checkins">
        <h3 style="display: inline-block;">Recent Checkins</h3>
        <button mat-raised-button color="accent" style="margin-left:16%;" [routerLink]="['/checkin']"
            routerLinkActive="router-link-active">Add new Checkin</button>
        <app-recent-checkins></app-recent-checkins>
    </div>
</div>
<br />
<div class="container large">
    <div class="container-recent-colleague-feedback">
        <h3 style="display: inline-block;">Recent comments</h3>
        <button mat-raised-button color="accent" class="home-action-button" (click)="addColleagueFeebackClick()">Add
            Colleague Feedback</button>
        <app-recent-comments></app-recent-comments>
    </div>
    <div class="container-recent-customer-feedback">
        <h3 style="display: inline-block;">Recent comments</h3>
        <button mat-raised-button color="accent" class="home-action-button" (click)="addColleagueFeebackClick()">New
            Customer Feedback</button>
        <app-recent-comments></app-recent-comments>
    </div>
</div>
<div class="mobile">
    <div>
        <h3 style="display: inline-block;">Recent comments</h3>
        <button mat-raised-button color="accent" class="home-action-button" (click)="addColleagueFeebackClick()">Add
            Colleague Feedback</button>
        <app-recent-comments></app-recent-comments>
    </div>
</div>
<div class="mobile">
    <div>
        <h3 style="display: inline-block;">Recent comments</h3>
        <button mat-raised-button color="accent" class="home-action-button" (click)="addColleagueFeebackClick()">New
            Customer Feedback</button>
        <app-recent-comments></app-recent-comments>
    </div>
</div>
