<div class="container">
    <div class="container-checkin-side-div"></div>
    <div class="container-checkin-div">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    {{ checkin.title }} - {{coachee.fullName}}
                </mat-card-title>
                <mat-card-subtitle>
                    {{ checkin.projectRole}}
                </mat-card-subtitle>
                <mat-card-subtitle>
                    {{ checkin.date | date}}
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div>
                    <h3>Concern</h3>
                    <p>{{checkin.concern}}</p>
                </div>
                <div>
                    <h3>Conflict</h3>
                    <p>{{checkin.conflict}}</p>
                </div>
                <div>
                    <h3>Expectations</h3>
                    <p>{{checkin.expectation}}</p>
                </div>
                <div>
                    <h3>Goals</h3>
                    <p>{{checkin.goal}}</p>
                </div>
                <div>
                    <h3>Realisations</h3>
                    <p>{{checkin.realisation}}</p>
                </div>
                <div>
                    <h3>Technology Stack</h3>
                    <p>{{checkin.stack}}</p>
                </div>
                <div *ngIf="checkin.coachFeedback">
                    <h3>Feedback from coach</h3>
                    <p>{{checkin.coachFeedback}}</p>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card *ngIf="!checkin.coachFeedback" style="margin-top: 1rem;">
            <form [formGroup]='addFeedbackForm' (ngSubmit)='submitFeedback()'>
                <mat-form-field class="input-modal">
                    <mat-label>Coach Feedback</mat-label>
                    <textarea matInput placeholder="Type your feedback here" formControlName='coachFeedback'></textarea>
                </mat-form-field>
                <mat-dialog-actions>
                    <button [disabled]="addFeedbackForm.invalid" mat-raised-button 
                       color="accent" type="submit">Send</button>
                </mat-dialog-actions>
            </form>
        </mat-card>
    </div>
    <div class="container-checkin-side-div"></div>
</div>