<div class="container">
  <div class="container-checkin-side-div"></div>
  <div class="container-checkin-div">
      <h2 class="h2">Fill out the check in</h2>
      <form [formGroup]="addCheckinForm" (ngSubmit)='submitCheckin()'>
      <mat-card class="profile-card">
          <div>
            <mat-form-field class="area">
                <mat-label>Title</mat-label>
              <input matInput placeholder="The title of your Check-in" formControlName='title'/>
            </mat-form-field>
            <br>
            <mat-form-field class="area">
                <mat-label>Role</mat-label>
              <textarea matInput placeholder="The current role(s) you fullfill at your current project" formControlName='projectRole'></textarea>
            </mat-form-field>
            <br>
            <mat-form-field class="area">
                <mat-label>Realisation</mat-label>
              <textarea matInput placeholder="Any relevant realisations you accomplished" formControlName='realisation'></textarea>
            </mat-form-field>
            <br>
            <mat-form-field class="area">
                <mat-label>Expectations</mat-label>
              <textarea matInput placeholder="Expectations you have concerning your project" formControlName='expectation'></textarea>
            </mat-form-field>
            <br>
            <mat-form-field class="area">
                <mat-label>Technology stack</mat-label>
              <textarea matInput placeholder="The technology stack you are currently working in" formControlName='stack'></textarea>
            </mat-form-field>
            <br>
            <mat-form-field class="area">
                <mat-label>Conflict</mat-label>
              <textarea matInput placeholder="Any conficts you encountered during your project" formControlName='conflict'></textarea>
            </mat-form-field>
            <br>
            <mat-form-field class="area">
                <mat-label>Concern</mat-label>
              <textarea matInput placeholder="Any concerns you have concerning your project" formControlName='concern'></textarea>
            </mat-form-field>
            <br>
            <mat-form-field class="area">
                <mat-label>Goal</mat-label>
              <textarea matInput placeholder="Any goals you have set" formControlName='goal'></textarea>
            </mat-form-field>
          </div>
          <button class="feedbackbtn" color="warn" mat-raised-button [routerLink]="['/']" routerLinkActive="router-link-active">
            Cancel
          </button>
          <button class="checkinbtn" style="margin-left:1rem;" [disabled]="addCheckinForm.invalid" mat-raised-button color="accent">
            Submit
          </button>
        </mat-card>
      </form>
  </div>
  <div class="container-checkin-side-div"></div>
</div>