<div *ngFor="let feedback of array" class="custom-card">
  <mat-card class="comment-card">
    <mat-card-header>
      <img mat-card-avatar src="../../../../assets/images/profile-pic.jpg" alt="avatar">
      <mat-card-title>{{feedback.author}}</mat-card-title>
      <mat-card-subtitle>{{feedback.position}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p style="font-size: 16px">{{feedback.colleagueFeedback}}</p>
    </mat-card-content>
  </mat-card>
</div>
