<div class="container">
  <div class="container-checkin-side-div">
  </div>
  <div class="container-checkin-div">
    <h1>Coach Overview</h1>
      <mat-form-field>
          <input matInput placeholder="Search" [(ngModel)]="query">
        </mat-form-field>
    <app-profile-item *ngFor="let userElement of userListList | search:'firstName,lastName,position,fullName':query" [user]="userElement"></app-profile-item>
  </div>
  <div class="container-checkin-side-div"></div>
</div>
