<div class="container">
    <div class="container-checkin-side-div">
    </div>
    <div class="container-checkin-div">
        <h1>Assign coachees to {{coach.fullName}}</h1>
        <mat-form-field>
            <input matInput placeholder="Search" [(ngModel)]="query">
        </mat-form-field>
        <div class="custom-card" *ngFor="let user of userList | search:'firstName,lastName,position,fullName':query">
            <mat-card class="comment-card" *ngIf="coach.userID !== user.userID">
                <mat-card-header>
                    <img src="../../../../../../assets/images/profile-pic.jpg" mat-card-avatar
                        alt="avatar {{ user.firstName }} {{ user.lastName }}">
                    <mat-card-title>{{ user.firstName }} {{ user.lastName }}</mat-card-title>
                    <mat-card-subtitle>{{ user.position }}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions >
                    <button mat-raised-button color="accent" [disabled]="coacheeIdList.includes(user.userID)" (click)="addCoachee(user.userID)">Assign</button>
                    <button mat-raised-button color="warn" [disabled]="!coacheeIdList.includes(user.userID)" (click)="deleteCoachee(user.userID)">Delete</button>
                </mat-card-actions>
                <mat-card-actions>

                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <div class="container-checkin-side-div"></div>
</div>