<div class="custom-card">
	<mat-card class="comment-card">
		<mat-card-header>
			<img src="../../../../../../assets/images/profile-pic.jpg" mat-card-avatar
				alt="avatar {{ user.firstName }} {{ user.lastName }}">
			<mat-card-title>{{ user.firstName }} {{ user.lastName }}</mat-card-title>
			<mat-card-subtitle>{{ user.position }}</mat-card-subtitle>
		</mat-card-header>
		<mat-card-actions>
			<button mat-raised-button color="accent" routerLink="/admin/assignCoachees/{{user?.userID}}">Assign Coachees</button>
			<button mat-raised-button color="primary" routerLink="/admin/viewCoachees/{{user?.userID}}">View Coachees</button>
		</mat-card-actions>
	</mat-card>
</div>
