<div *ngFor="let checkin of checkins" class="checkin-card">
  <mat-card class="comment-card">
    <mat-card-header>
      <img mat-card-avatar src="../../../../assets/images/profile-pic.jpg" alt="avatar">
      <mat-card-title>{{checkin.title}}</mat-card-title>
      <mat-card-subtitle>{{checkin?.projectRole}}</mat-card-subtitle>
      <mat-card-subtitle>{{checkin.date | date}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div *ngIf="checkin.coachFeedback !== null && checkin.coachFeedback !== ''">
        <h3 class="coach-feedback-highlight">Coach Feeback inside!</h3>
      </div>
      <div class="container feedback-card-content">
        <div class="plugin-content">
          <h3>Relisation</h3>
          <p style="font-size: 16px">{{checkin?.realisation | ellipsis:400}}</p>
        </div>
        <div class="plugin-content">
          <h3>Goal</h3>
          <p style="font-size: 16px">{{checkin?.goal | ellipsis:400}}</p>
        </div>
        <div class="plugin-content">
          <h3>Expectation</h3>
          <p style="font-size: 16px">{{checkin?.expectation | ellipsis:400}}</p>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" routerLink="/checkinDetail/{{checkin?.checkinId}}" >View Checkin</button>
    </mat-card-actions>
  </mat-card>
</div>