<div class="page">
  <mat-card class="banner-button">
    <mat-card-content>Check in</mat-card-content>
  </mat-card>

  <mat-card class="banner-button">
    <mat-card-content>All comments</mat-card-content>
  </mat-card>

  <mat-card class="banner-button">
    <mat-card-content>Portfolio</mat-card-content>
  </mat-card>
</div>
