/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  background-color: rgb(242, 245, 245);
  margin: 0 0 5vh;
  font-family: 'Roboto', sans-serif;
}
.page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.comment-card{
  background-color: white;
}

.mat-h1 {
  margin-left: 3%;
  color: black;
}
button {
  background-color: #FF8C00;
}
.container{
  display: flex;
}
.container-sides-profile{
  min-width: 10%;
}
.container-profile{
  min-width: 40%;
}
.container-recent-checkins{
  margin-left: 10px; 
  min-width: 98.5%;
  max-width: 98.5%;
}
.container-recent-colleague-feedback{
  margin-left: 10px; 
  min-width: 32%;
}
.container-recent-customer-feedback{
  margin-left: 10px; 
  min-width: 66%;
}
.container .container-checkin-div{
  min-width: 60%;
}
.container .container-checkin-side-div{
  min-width: 20%;
}
.custom-card{
  margin-top: 1rem;  
}
.checkin-card{
  margin-top: 1rem;
}
.card-text{
  font-size: 16px;
}
.area{
  width: 100%;
}
.input-modal{
  width: 100%;
}
.coach-feedback-highlight{
  color: #76BA1B;
  font-weight: bold;
}
.feedback-card-content{
  max-height: 240px;
}
.plugin-content{
  min-width: 33%;
}
.profile-content{
  min-width: 50%;
}
.profile-image{
  width: 50%;
}
/*Desktop Stuff*/
@media only screen and (min-width: 1280px) {
  .home-action-button{
    margin-left:30%; 
    float: right;
  }
  .mobile{
    display: none;
  }
}
/*Tablet Stuff*/
@media only screen and (max-width: 1279px) {
  .home-action-button{
    margin-left:10%; 
  }
  .mobile{
    display: none;
  }
}

/*Mobile Stuff*/
@media only screen and (max-width: 500px) {
  .container-recent-checkins{
    margin-left: 10px; 
    min-width: 95%;
    max-width: 95%;
  }
  .feedback-card-content{
    display: none;
  }
  .large{
    display: none;
  }
  .mobile{
    display: flex;
    margin-left: 10px; 
    min-width: 98%;
  }
}
